<html>
  <head>
    <title>chat here</title>
    <h2>char here</h2>
  </head>
  <body>
    <div class = "message">
      <ul id = "chat_message"></ul>
    </div>
    <div>
      <form id = "loginform">
        account: <input type = "text" name = "username"  id = "username"/>
        <input type = "button" value = "login" id="loginSubmit" />
      </form>
    </div>
    <div class = "input">
      <form id = "chatform">
        <div>
          send to: <input type = "text" name = "send_to" id = "send_to"/>
        </div>
        <div>
          <input type = "text" name = "content" id = "content" size = "70" placeholder = "tap here"/>
        </div>
        <div>
          <input type = "button" id = "submit" value = "send"/>
        </div>
      </form>
    </div>
  </body>

  <script type = 'text/javascript' src = 'static/jquery-3.2.0.min.js'></script>
  <script type = 'text/javascript' src = 'static/socket.io.js'></script>
  <script type = 'text/javascript'>
    var socket = io.connect('http://localhost:8000');
    $('#loginSubmit').click(function() {
      var username = $("#username").val()
      if (!username) {
        return
      }
      socket.emit('add user', username)
    })

    $('#submit').click(function() {
      var msg = $("#content").val()
      var send_to = $("#send_to").val()
      if (!msg || !send_to) {
        return
      }
      socket.emit('say', {send_to, msg})
      $("#content").val = ""
    })
    socket.on('broadcast', function(msg) {
      $('#chat_message').append(`<li>${msg}</li>`)
    })
  </script>

</html>
